p{
font-size: 80px;
color: #e60f0f;
font-family: Impact;

	}
	img{
		height: 300px;
	width: 400px;
	}
	div{
		background-color: #697bff;
		width: 90%ы;
	}
	a{
		font-size: 50px;
		color: red;
	}
	body{
		background-color: ;
	}
	div{
		background-color: #4d98e6;
	}
	img{
		height: 500px;
		width: 1000px;
	}
